:root{
    --bg_color: #171a21;
    --bg_color_darker: #111;
    --bg_color_lighter: #232730;

    --content_color: #1b2838;
    --text_color: #c7d5e0;
    --highlight_color: #66c0f4;
    --highlight_border:#2a475e;

    --border_margin: 3%;
    --items-gap: 1rem;

    --screen-big-content-margin: 70%;
    --screen-medium-content-margin: 80%;
    --screen-small-content-margin: 90%;
}

/* START BODY*/
    body{
        background-color: var(--bg_color);
        margin:0%;
        color: var(--text_color);
        display: flex;
        flex-direction: column;
    }

    /* START Header */
        header {
            display: flex;
            background-color: var(--bg_color);
            padding: 2%;
            gap: var(--items-gap);
            align-items: flex-start;
        }

        header img{
            width: 70px;
        }
    /* END Header */

    /* START NAV */
        nav {
            z-index: 9999;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position:sticky;
            top:0;
            background-color: var(--bg_color_darker);
            color: var(--text_color);
        }

        /* START Menu dentro del nav*/
            nav ul{
                display: flex;
                list-style-type: none;
                margin: 0;
                margin-left: var(--border_margin);
                padding:0;
            }

            nav a{
                display: block;
                padding: 14px 16px;
            }

            nav a{
                text-decoration: none;
                color: var(--text_color);
            }

            nav a:hover{
                color: var(--highlight_color);
                background-color: var(--highlight_border);
            }

            nav a:active{
                color: var(--highlight_border);
                background-color: var(--highlight_color);
            }
        /* END Menu dentro del nav*/

        /* START Form dentro del nav */
            nav form{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items:  center;
                margin-left: var(--border_margin);
                margin-right: var(--border_margin);
            }

            label{
                padding: 14px 16px;
            }

            .campoForm{
                display:flex;
                align-items: center;
                flex-wrap: nowrap;
            }

            .submitButton{
                color: var(--text_color);
                border:none;
                background-color: var(--bg_color_darker);
                text-decoration: none;
                padding: 14px 16px;
            }

            .submitButton:hover{
                color: var(--highlight_color);
                background-color: var(--highlight_border);
                cursor: pointer;
            }

            .submitButton:active{
                color: var(--highlight_border);
                background-color: var(--highlight_color);
            }

        /* END Form dentro del nav */
    /* END NAV */

    /* START MAIN */
        main{
            display:flex;
            flex: 1;
            flex-direction: column; 
            align-items: center;
        }

        /*START CARROUSEL*/
            #carrousel{
                display:flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--bg_color_darker);
                user-select: none;
            }
            #carrouselVisualizador{
                display:flex;
                align-items: center;
                justify-content: center;
                gap: var(--items-gap);
            }
            #carrouselVisualizador img{
                width: 60%;
            }
            #carrouselVisualizador a{
                size: 100%;
                color:var(--text_color);
                padding: 2%;
            }
            #carrouselVisualizador a:hover{
                size: 100%;
                background-color: var(--highlight_border);
                cursor: pointer;
            }
            #carrouselVisualizador a:active{
                size: 100%;
                background-color: var(--highlight_color);
            }

            #preview{
                display: flex;
                justify-content: center;
                background-color: var(--bg_color_darker);
            }
            #preview div {
                display:flex;
                align-items: center;
                justify-content: center;
                width: 10%;
                margin:0.5%;
            }
            #preview .previewCard{
                width: 100%;
                opacity: 0.9;
            }
            #preview .previewCard:hover{
                width: 90%;
                opacity: 0.6;
                cursor: pointer;
            }
            #preview .previewCard:active{
                width: 80%;
                opacity: 0.6;
            }


            #preview .previewCardSelected{
                width: 90%;
                opacity: 0.6;
            }
            #preview .previewCardSelected:hover{
                cursor: pointer;
            }
            #preview .previewCardSelected:active{
                width: 80%;
                opacity: 0.6;
            }


        /*END CARROUSE*/

        section{
            margin: 1%;
        }

        table{  
            background-color: var(--bg_color_darker);
            padding: 8%;
            border-collapse: collapse;
            text-wrap: inherit;
            width: 100%;
        }

        table div img{
            width: 100%;
        }

        th, td{
            padding: 2%;
            margin: 2%;
        }

        td{
            max-width: 0;
            word-wrap:break-word;
        }

        tr :nth-child(2),
        tr :nth-child(3) {
        text-align: left;
        }
        tr :nth-child(4){
            text-align: right;;
        }
    /* END MAIN */

    /* START FOOTER */
        footer{
            background-color: var(--bg_color_darker);
            position: sticky;
            left: 0;
            bottom: 0;
            padding:0.1%;

        }
    /* END FOOTER */

/* END BODY*/


/* START Media query*/
    @media only screen and (max-width: 600px) {
        section{
            width: var(--screen-small-content-margin);
        }
    }

    @media only screen and (min-width: 600px) {
        section{
            width: var(--screen-medium-content-margin);
        }
    }

    @media only screen and (min-width: 1000px) {
        section{
            width: var(--screen-big-content-margin);
        }
    }
/* END Media query for the nav*/